.mainqal{
    /* margin: 2% 10% 2% 10%; */
    font-size: 22px;
}
table {
    width: 80%;
    border: 1px solid #000;
    margin: 2% 10% 2% 12%;
    border-collapse: collapse;
  }
  .titlemain{
    text-decoration: underline;
  }
  
  th, td{
    width: 25%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    font-size: 20px;
  }

  caption {
    padding: 0.3em;
    color: #fff;
    background: #000;
  }

  .formtype{
    margin: 2% 10% 2% 13%;
  }
  .texttype{
    margin: 2% 10% 2% 12%;
    text-align: left;
  }

  .details {
    text-align: left; 
  }
  label > input,select{
    margin: 20px 0 20px 20px;
  }
  select, input{
    padding: 8px 10px;
    border: 2px solid gray;
    border-radius: 5px 5px 5px 5px;
    font-size: 22px;
  }

  .title{
    margin: 2% 10% 2% 12%;
    text-align: left;
  }
  .footer{
    margin: 2% 10% 2% 12%;
    text-align: left;
  }
  .texttype>table{
    text-align: left;
  }
  .tablediv> p{
    margin: 2% 10% 2% 12%;
    text-align: left;
  }

  .next{
    background-color: #fff;
    color: black;
    padding: 10px 30px;
    font-family:'Trebuchet MS';
    font-weight: 500;
    font-size: 30px;
    border-radius: 5px;
    border-color: black;
}
.next:hover{
    background-color: rgba(78, 245, 187, 0.655);
    color: white; 
    border-color: rgba(8, 175, 117, 0.655);
}